<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading">About Follow Company</h2>
                    <h3 class="section-subheading text-muted">User-oriented crypto-trading services with full access on your device</h3>
                </div>
            </div>
            <div class="col-lg-12 text-center">
                    <h2 class="section-heading">FTSN Competitors</h2>
                </div>
            <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <td></td>
                    <th align="center">Follow</th>
                    <th align="center">eToro</th>
                    <th align="center">Covesting</th>
                    <th align="center">CopyMe</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>ICO</th>
                    <td class="text-muted" align="center">No</td>
                    <td class="text-muted" align="center">No</td>
                    <td class="text-muted" align="center">Yes</td>
                    <td class="text-muted" align="center">No</td>
                </tr>
                <tr>
                    <th>Social Platform</th>
                    <td class="text-muted" align="center">Yes</td>
                    <td class="text-muted" align="center">Yes</td>
                    <td class="text-muted" align="center">No</td>
                    <td class="text-muted" align="center">No(and only selected traders without background)</td>
                </tr>
                <tr>
                    <th>Real Cryptos</th>
                    <td class="text-muted" align="center">Yes</td>
                    <td class="text-muted" align="center">No</td>
                    <td class="text-muted" align="center">Yes</td>
                    <td class="text-muted" align="center">Yes</td>
                </tr>
                <tr>
                    <th>Quotes regulation</th>
                    <td class="text-muted" align="center">No</td>
                    <td class="text-muted" align="center">Yes</td>
                    <td class="text-muted" align="center">Unknown</td>
                    <td class="text-muted" align="center">No</td>
                </tr>
                <tr>
                    <th>Payments</th>
                    <td class="text-muted" align="center">5% profit sharing</td>
                    <td class="text-muted" align="center">In/Out, TX FEES</td>
                    <td class="text-muted" align="center">Various: in/out, platform, tx, profit, etc.</td>
                    <td class="text-muted" align="center">Monthly subscription</td>
                </tr>
                <tr>
                    <th>Method</th>
                    <td class="text-muted" align="center">Exchange API for Trading Smart Contract for Funds</td>
                    <td class="text-muted" align="center">Internal CFD</td>
                    <td class="text-muted" align="center">Internal Exchange</td>
                    <td class="text-muted" align="center">Exchange API</td>
                </tr>
                <tr>
                    <th>Funds Retrieving</th>
                    <td class="text-muted" align="center">Instant</td>
                    <td class="text-muted" align="center">Instant</td>
                    <td class="text-muted" align="center">Instant</td>
                    <td class="text-muted" align="center">Instant</td>
                </tr>
            </tbody>
        </table>
                </div>
            </div>
    </section>