<!-- About Section -->
    <section id="about2">
        <div class="container">
            <div class="row">
<div class="col-lg-12 text-center">
                    <h2 class="section-heading">STM Competitors</h2>
                </div>
            <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <td></td>
                    <th align="center">CTS</th>
                    <th align="center">White Shark</th>
                    <th align="center">FTEC</th>
                    <th align="center">Cryptohopper</th>
                    <th align="center">3commas</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>ICO</th>
                    <td class="text-muted" align="center">No</td>
                    <td class="text-muted" align="center">No</td>
                    <td class="text-muted" align="center">Yes</td>
                    <td class="text-muted" align="center">No</td>
                    <td class="text-muted" align="center">No</td>
                </tr>
                <tr>
                    <th>Trading bot</th>
                    <td class="text-muted" align="center">Yes</td>
                    <td class="text-muted" align="center">No (only signals)</td>
                    <td class="text-muted" align="center">Yes</td>
                    <td class="text-muted" align="center">Yes</td>
                    <td class="text-muted" align="center">Yes</td>
                </tr>
                <tr>
                    <th>Minimum price</th>
                    <td class="text-muted" align="center">10$</td>
                    <td class="text-muted" align="center">Free</td>
                    <td class="text-muted" align="center">Unknown</td>
                    <td class="text-muted" align="center">20$</td>
                    <td class="text-muted" align="center">30$</td>
                </tr>
                <tr>
                    <th>Functional restrictions</th>
                    <td class="text-muted" align="center">No</td>
                    <td class="text-muted" align="center">No</td>
                    <td class="text-muted" align="center">No</td>
                    <td class="text-muted" align="center">Yes</td>
                    <td class="text-muted" align="center">Yes</td>
                </tr>
                <tr>
                    <th>Reliable</th>
                    <td class="text-muted" align="center">Trading history</td>
                    <td class="text-muted" align="center">3.0 on AppStore</td>
                    <td class="text-muted" align="center">Can't use it</td>
                    <td class="text-muted" align="center">No trading history</td>
                    <td class="text-muted" align="center">No trading history</td>
                </tr>
            </tbody>
        </table>
                </div>
                </div>
            </div>
        </section>