<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <td></td>
                    <th>Chrome</th>
                    <th>Firefox</th>
                    <th>Internet Explorer</th>
                    <th>Opera</th>
                    <th>Safari</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Android</th>
                    <td class="text-success"><span class="glyphicon glyphicon-ok"></span> <span class="sr-only">Поддерживается</span></td>
                    <td class="text-danger"><span class="glyphicon glyphicon-remove"></span> <span class="sr-only">Не поддерживается</span></td>
                    <td class="text-muted" rowspan="3" style="vertical-align: middle;">N/A</td>
                    <td class="text-danger"><span class="glyphicon glyphicon-remove"></span> <span class="sr-only">Не поддерживается</span></td>
                    <td class="text-muted">N/A</td>
                </tr>
                <tr>
                    <th>iOS</th>
                    <td class="text-success"><span class="glyphicon glyphicon-ok"></span> <span class="sr-only">Поддерживается</span></td>
                    <td class="text-muted">N/A</td>
                    <td class="text-danger"><span class="glyphicon glyphicon-remove"></span> <span class="sr-only">Не поддерживается</span></td>
                    <td class="text-success"><span class="glyphicon glyphicon-ok"></span> <span class="sr-only">Поддерживается</span></td>
                </tr>
                <tr>
                    <th>Mac OS X</th>
                    <td class="text-success"><span class="glyphicon glyphicon-ok"></span> <span class="sr-only">Поддерживается</span></td>
                    <td class="text-success"><span class="glyphicon glyphicon-ok"></span> <span class="sr-only">Поддерживается</span></td>
                    <td class="text-success"><span class="glyphicon glyphicon-ok"></span> <span class="sr-only">Поддерживается</span></td>
                    <td class="text-success"><span class="glyphicon glyphicon-ok"></span> <span class="sr-only">Поддерживается</span></td>
                </tr>
                <tr>
                    <th>Windows</th>
                    <td class="text-success"><span class="glyphicon glyphicon-ok"></span> <span class="sr-only">Поддерживается</span></td>
                    <td class="text-success"><span class="glyphicon glyphicon-ok"></span> <span class="sr-only">Поддерживается</span></td>
                    <td class="text-success"><span class="glyphicon glyphicon-ok"></span> <span class="sr-only">Поддерживается</span></td>
                    <td class="text-success"><span class="glyphicon glyphicon-ok"></span> <span class="sr-only">Поддерживается</span></td>
                    <td class="text-danger"><span class="glyphicon glyphicon-remove"></span> <span class="sr-only">Не поддерживается</span></td>
                </tr>
            </tbody>
        </table>
    </div>
                </div>
            </div>
        </div>
    </section>