<!-- Buystrip Section -->
<section id="Buystrip">
        <div class="container">
            <div class="row">
                    <div class="fp-tile promo-tile delivery fp-tile-2">
                        <figure class="image-icon image-icon-delivery"></figure>
                        <h2 class="buystrip-headline typography-intro">Бесплатная доставка</h2>
                        <p class="typography-buystrip-copy large-centered large-10 medium-12">На&nbsp;следующий день. <br class="large-hide medium-show">По&nbsp;Москве <br class="large-show medium-hide">и&nbsp;Санкт‑Петербургу. Действует на&nbsp;товары <br class="large-show medium-hide">в&nbsp;наличии при&nbsp;заказе&nbsp;до&nbsp;15:00.</p>
                        <a href="/ru/shop/goto/shipping_and_returns" data-analytics-title="learn more - next day delivery" class="icon-wrapper typography-buystrip-copy"><span class="icon-copy">Подробнее<span class="visuallyhidden"> о бесплатной доставке</span></span><span class="icon icon-after more"></span></a>
                    </div>
                    <div class="fp-tile promo-tile personal-setup fp-tile-2">
                        <figure class="image-icon image-icon-pickup"></figure>
                        <h2 class="buystrip-headline typography-intro">Покупка и&nbsp;поддержка</h2>
                        <p class="typography-buystrip-copy large-centered large-12 medium-12">У&nbsp;Apple сотни авторизованных реселлеров. Вполне&nbsp;возможно, что&nbsp;один из&nbsp;них находится рядом&nbsp;с&nbsp;вами.</p>
                        <a href="https://locate.apple.com/ru/ru/" data-analytics-title="learn more - personal setup" class="icon-wrapper typography-buystrip-copy"><span class="icon-copy">Найти ближайшие</span><span class="icon icon-after more"></span></a>
                    </div>
                </div>
            </div>
        </section>